.card {
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.amountFormItem {
  flex: 1;
}

.currencyFormItem {
  width: 140px;
}

.button {
  margin-top: auto;
}

.swapButton {
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}

.swapButton:hover {
  transform: rotate(-90deg);
}
